body{
    color: rgb(226,226,226);
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-align: center;
}
nav{
    color:rgb(244, 244, 244);
    text-align: right;
}

.saiuttej {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 7px;
    color: rgb(226,226,226);
    text-transform: uppercase
    text-decoration:none;
    text-shadow: 3px 2px 3px grey;
}

#head1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.box{
    border: 1px solid grey;
    margin: 5px 10px 5px 10px;
    padding: 4px 7px 4px 7px;
    width: auto;
    box-sizing: border-box;
    border-radius: 5px;
}
h2{
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 2px;
    font-size: 20px;
}